################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ex1/.vs/Ex1/v15/Server/sqlite3
/.vs/ConsoleApp1/v15/Server/sqlite3
/.vs/ConsoleApp1/v15
/Ex1/.vs/config
/Ex1/.vs/Ex1/v15
/Ex1/bin/Debug
/Ex1/obj/Debug
/Ex1/Properties
