################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ex1/.vs/Ex1/v15/Server/sqlite3
